<div class="container">
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col">
        <h1 class="text-center">You are not logged in</h1>
        <p class="text-center">Change the user-type and log in to see the changes in the menu bar!</p>
        <div class="card  mt-3 m-1">
  
          <h5 class="card-header">Login Form</h5>
          <div class="card-body">
  
            <div class="row">
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option selected>Select a User Role</option>
                    <option value="1">User</option>
                    <option value="2">Admin</option>
                  </select>
                  <label for="floatingSelectGrid">User role selection</label>
                </div>
  
  
                <div class="form-floating mt-2">
                  <input type="password" disabled class="form-control" id="floatingInputGrid" value="admin123456">
                  <label for="floatingInputGrid">Example password</label>
                </div>
              </div>
            </div>
            <div class="d-grid mt-2">
              <button class="btn btn-primary" type="button">Login</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  
  </div>